<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyect</title>
    <link rel="stylesheet" href="/styles/style.css">

<body>
    <div class="header">
        <div class="title">INTERFAZ ADMIN</div>
    </div> 
    <div class="container">
        <div class="content">
            <table class="table1">
                <thead >
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Cuenta</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% lista.forEach(function(usuario) { %>
                        <tr>
                            <td>
                                <%= usuario.id %>
                            </td>
                            <td>
                                <%= usuario.nombre %>
                            </td>
                            <td>
                                <%= usuario.cuenta %>
                            </td>
                            <td>
                                <%= usuario.email %>
                            </td>
                            <td>
                                <%= usuario.rol %>
                            </td>
                            <td>
                                <form action="/usuarios/delete/<%= usuario.id %>" method="GET">
                                    <button type="submit" class="btn2">Eliminar</button>
                                </form>
                                <form action="/usuarios/edit/<%= usuario.id %>" method="GET">
                                    <button type="submit" class="btn2">Modificar</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
        <br>
    </div>
</body>

</html>