<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyect</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="header">
        <div class="title">Modificar Usuario</div>
    </div>
    <% if (user){%>
        <div class="container">
            <div class="login_box">
                <div class="text1">Modificar</div>
                <form action="/usuarios/save" method="post">
                    <div>
                        <label class="text2" for="id">Id</label><br>
                        <input class="itext1" type="number" id="id" name="id" value="<%=user.id %>"
                            required>
                        <div>
                            <label class="text2" for="nombre">Nombre</label><br>
                            <input class="itext1" type="text" id="nombre" name="nombre"
                                value="<%=user.nombre %>" required>
                        </div>
                        <div>
                            <label class="text2" for="cuenta">Cuenta</label><br>
                            <input class="itext1" type="text" id="cuenta" name="cuenta" value="<%=user.cuenta %>"
                                required>
                        </div>
                        <div>
                            <label class="text2" for="clave">clave</label><br>
                            <input class="itext1" type="password" id="clave" name="clave" value="<%=user.clave %>"
                                required>
                        </div>
                        <div>
                            <label class="text2" for="email">Email</label><br>
                            <input class="itext1" type="email" id="email" name="email" value="<%=user.email %>"
                                required>
                        </div>
                        <div>
                            <label class="text2" for="rol">Rol</label><br>
                            <input class="itext1" type="text" id="rol" name="rol" value="<%=user.rol %>" required>
                        </div>
                        <div><input type="submit" value="Modificar" class="btn1"></div>
                        <br>
                        <div><a href="/admin/dashboard" class="btn1">Cancelar</a></div>
                </form>
            </div>
        </div>
        <% }%>
</body>

</html>