<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="header2">
        <div><a href="/pacientes/read/<%=medico.idusuario%>"><img class="imgatras" src="https://cdn-icons-png.flaticon.com/128/54/54623.png" alt="cargando"></a></div>
        <div class="title">Tratamientos asignados</div>
    </div>
    <div class="container">
        <div class="content3">
            <div class="text1">
                <%=paciente.nombre+' '+paciente.apellidos%></div>
            <div>
                <table class="table1">
                    <thead>
                        <tr>
                            <th>Tratamiento</th>
                            <th>Médico</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de conclusión</th>
                            <th>Estado</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tratamientosAsignados.forEach(tratamientoAsignado => { %>
                            <tr>
                                <td>
                                    <% tratamientos.forEach(tratamiento => {
                                        if (tratamiento.id == tratamientoAsignado.idtratamiento) {%> 
                                            <%= tratamiento.nombre%> 
                                    <%}
                                    }); %>
                                </td>
                                <td>
                                    <% medicos.forEach(medico => {
                                        if (medico.id == tratamientoAsignado.idmedico) {%> 
                                            <%= medico.nombre + ' ' + medico.apellidos %> <%
                                        }
                                    }); %>
                                </td>
                                <td>
                                    <%= tratamientoAsignado.fecha_inicio %>
                                </td>
                                <td>
                                    <%= tratamientoAsignado.fecha_fin %>
                                </td>
                                <td>
                                    <%= tratamientoAsignado.estado %>
                                </td>
                                <td>
                                    <form action="/paciente/tratamiento/delete/<%= tratamientoAsignado.id%>/<%=paciente.id%>/<%=medico.id%>" method="GET">
                                        <button type="submit" class="btn2">Eliminar</button>
                                    </form>
                                    <% medicos.forEach(medico => {
                                        if (medico.id == tratamientoAsignado.idmedico) {%>  
                                    <form action="/paciente/tratamiento/edit/<%= tratamientoAsignado.id %>/<%=paciente.id%>/<%=medico.id%>" method="GET">
                                        <button type="submit" class="btn2">Modificar</button>
                                    </form>
                                    <%
                                        }
                                    }); %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>                             
            </div>
        </div>
    </div>
</body>

</html>